# Node / Angular
node_modules/
dist/
*.log

# Java / Maven
target/
*.iml
.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
